---
import Nav from "../components/Nav.astro"
import Css from "../components/Css.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon_svg.svg" />
    <meta name="generator" content={Astro.generator} />
    <Css />
    <title>Your Package Name</title>
    <meta name="description" content="A brief description of your package." />
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
  </body>
</html>
